<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if(details){ %>
    <title>Shoply | <%= details %></title>
  <% }else{ %>
      <title>Shoply</title>
  <% } %>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
  <!-- Navbar -->
  <%- include('partials/navbar') %>

  <!-- Hero Section -->
  <div class="jumbotron">
  </div>

  <!-- Product Section -->
  <div class="container">
    <section class="row feature-cards row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card feature-card">
                <div class="card-body">
                    <div class="feature-icon"><i class="fas fa-list"></i></div>
                    <h5 class="card-title feature-title">Great Products</h5>
                    <p class="card-text feature-text">Discover amazing deals and discounts on a wide range of products for all your needs.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card">
                <div class="card-body">
                    <div class="feature-icon"><i class="fas fa-check"></i></div>
                    <h5 class="card-title feature-title">Easy Shopping</h5>
                    <p class="card-text feature-text">Browse and add your favorite products to the cart for a convenient shopping experience.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card">
                <div class="card-body">
                    <div class="feature-icon"><i class="fas fa-sync"></i></div>
                    <h5 class="card-title feature-title">New Arrivals</h5>
                    <p class="card-text feature-text">Discover the latest arrivals and stay ahead with trending products.</p>
                </div>
            </div>
        </div>
    </section>
</div>
  

  <!-- Call-to-Action Section -->
  <div class="cta-section text-center">
    <div class="container">
      <h2>Don't Miss Out on Our Amazing Deals!</h2>
      <p>Find amamzing products for yourself</p>
      <a href="/main"><button class="btn btn-primary cta-btn">Explore Products</button></a>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 My Ecommerce. All rights reserved.</p>
      Attribution: <a href="https://www.vecteezy.com/free-vector/shopping">Shopping Vectors by Vecteezy</a>
    </div>
  </footer>

  <!-- Bootstrap Bundle with Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
